.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 18px 30px 20px;
  gap: 10px;
  border-radius: 150px;
  width: 140px;
  height: 58px;
  margin: 25px auto 0 auto;
  border: 0;
}