.footer {
  padding: 60px 36px;

  &__list {
    list-style: none;
    padding: 0;

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
    @media (min-width: 1200px) {
    }
  }

  .colorz-img {
    @media (min-width: 768px) {
      margin-bottom: 45px;
    }
  }
}